<%
  const pageInfo = {
    url: "/"
    <!-- url: "/codingkadai/02/nakazono/" -->
  };
-%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./include/_head', {meta:pageInfo}); -%>
<body class="p-top">
  <main class="main">
    <div class="p-top__inner">
      <h1 class="p-top__title">
        課題：JavaScript でページネーションコンポーネントを実装しよう
        <span class="p-top__sub-title">～反社会的組織主要メンバー～</span>
      </h1>
      <ul id="nakazono" class="p-top__list is-active">
        <%
          const lists01 = [
            {
              group: "中園組",
              member: "いちろう",
              from: "福岡",
              weapon: "メリケンサック"
            },
            {
              group: "中園組",
              member: "じろう",
              from: "鹿児島",
              weapon: "爆竹"
            },
            {
              group: "中園組",
              member: "さぶろう",
              from: "佐賀",
              weapon: "拳銃"
            },
            {
              group: "中園組",
              member: "しろう",
              from: "宮崎",
              weapon: "なた"
            },
            {
              group: "中園組",
              member: "ごろう",
              from: "宮崎",
              weapon: "釘バット"
            }
          ];
          lists01.forEach((item) => {
        %>
        <li class="p-top__item">
          <span class="p-top__group"><%- item.group %></span>
          <span class="p-top__member"><%- item.member %></span>
          <span class="p-top__from"><%- item.from %></span>
          <span class="p-top__weapon"><%- item.weapon %></span>
        </li>
        <% }); %>
      </ul>

      <ul id="umata" class="p-top__list">
        <%
          const lists02 = [
            {
              group: "馬田組",
              member: "いちろう",
              from: "長崎",
              weapon: "アイスピック"
            },
            {
              group: "馬田組",
              member: "じろう",
              from: "鹿児島",
              weapon: "時限爆弾マウス"
            },
            {
              group: "馬田組",
              member: "さぶろう",
              from: "佐賀",
              weapon: "ノロウイルスキーボード"
            },
            {
              group: "馬田組",
              member: "しろう",
              from: "宮崎",
              weapon: "なた"
            },
            {
              group: "馬田組",
              member: "ごろう",
              from: "宮崎",
              weapon: "釘バット"
            }
          ];
          lists02.forEach((item) => {
        %>
        <li class="p-top__item">
          <span class="p-top__group"><%- item.group %></span>
          <span class="p-top__member"><%- item.member %></span>
          <span class="p-top__from"><%- item.from %></span>
          <span class="p-top__weapon"><%- item.weapon %></span>
        </li>
        <% }); %>
      </ul>

      <ul id="igarashi" class="p-top__list">
        <%
          const lists03 = [
            {
              group: "五十嵐組",
              member: "いちろう",
              from: "東京",
              weapon: "大量がびょう"
            },
            {
              group: "五十嵐組",
              member: "じろう",
              from: "鹿児島",
              weapon: "電流100ボルト"
            },
            {
              group: "五十嵐組",
              member: "さぶろう",
              from: "佐賀",
              weapon: "毒針弓矢"
            },
            {
              group: "五十嵐組",
              member: "しろう",
              from: "宮崎",
              weapon: "なた"
            },
            {
              group: "五十嵐組",
              member: "ごろう",
              from: "宮崎",
              weapon: "釘バット"
            }
          ];
          lists03.forEach((item) => {
        %>
        <li class="p-top__item">
          <span class="p-top__group"><%- item.group %></span>
          <span class="p-top__member"><%- item.member %></span>
          <span class="p-top__from"><%- item.from %></span>
          <span class="p-top__weapon"><%- item.weapon %></span>
        </li>
        <% }); %>
      </ul>

      <ul id="hiraoka" class="p-top__list">
        <%
          const lists04 = [
            {
              group: "平岡組",
              member: "いちこ",
              from: "大阪",
              weapon: "釘かちゅうしゃ"
            },
            {
              group: "平岡組",
              member: "にこ",
              from: "鹿児島",
              weapon: "しゅりけん"
            },
            {
              group: "平岡組",
              member: "さえこ",
              from: "佐賀",
              weapon: "拳銃"
            },
            {
              group: "平岡組",
              member: "よしこ",
              from: "宮崎",
              weapon: "なた"
            },
            {
              group: "平岡組",
              member: "ごうこ",
              from: "宮崎",
              weapon: "釘バット"
            }
          ];
          lists04.forEach((item) => {
        %>
        <li class="p-top__item">
          <span class="p-top__group"><%- item.group %></span>
          <span class="p-top__member"><%- item.member %></span>
          <span class="p-top__from"><%- item.from %></span>
          <span class="p-top__weapon"><%- item.weapon %></span>
        </li>
        <% }); %>
      </ul>

      <ul class="Pagination">
        <li class="Pagination-Item">
          <a class="Pagination-Item-Link" href="/pages/1/">
            <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
            </svg>
          </a>
        </li>
        <li class="Pagination-Item">
          <a class="Pagination-Item-Link isActive" href="/pages/1/"><span>1</span></a>
        </li>
        <li class="Pagination-Item">
          <a class="Pagination-Item-Link" href="/pages/2/"><span>2</span></a>
        </li>
        <li class="Pagination-Item">
          <a class="Pagination-Item-Link" href="/pages/3/"><span>3</span></a>
        </li>
        <li class="Pagination-Item">
          <a class="Pagination-Item-Link" href="/pages/4/"><span>4</span></a>
        </li>
        <li class="Pagination-Item">
          <a class="Pagination-Item-Link" href="/pages/5/"><span>5</span></a>
        </li>
        <li class="Pagination-Item">
          <a class="Pagination-Item-Link" href="/pages/5/">
            <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
            </svg>
          </a>
        </li>
      </ul>

    </div>

  </main>
  <script defer src="<%= pageInfo.url %>assets/js/bundle.js"></script>
</body>
</html>
